plots
loss_logs
long_clip
dataset
checkpoints
datasets-torchvis
plot_mean_similarity.py
plot_truncate_similarity.py
truncated_text_similarity.py
scripts.py
original_caption_ranking.py
.idea
__pycache__






